@use "../../styles/utils/mixins" as mx;
@use "../../styles/utils/functions" as fn;

/* Home */
.Home {
  width: 100%;
  padding: fn.pxTorem(30px);
  flex-grow: 1;

  &-search {
    @include mx.createFlex(row, flex-end, center) {
      gap: fn.pxTorem(16px);
    }
  }

  &-tag {
    width: max-content;
    padding: fn.pxTorem(6px);
    font-size: var(--font-size-14);
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-text-light);
  }

  &-input {
    padding: fn.pxTorem(6px) fn.pxTorem(16px);
    border-radius: 7px;
    border: 1px solid var(--color-border);

    &::placeholder {
      font-size: var(--font-size-14);
      font-weight: 300;
      color: var(--color-placeholder);
    }
  }
}
