@use "sass:math";

@function pxTorem($px, $font-size: 16px) {
  $unidad: math.div($px, 1px);
  $current-font: math.div($font-size, 1px);
  $resultado: math.div($unidad, $current-font);

  @return $resultado * 1rem;
}
