@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

/* Global */
body {
  min-height: 100vh;
  min-width: fn.pxTorem(320px);
  font-family: var(--font-family);
  font-size: var(--font-size-16);
  background-color: var(--color-background-primary);
  @include mx.createFlex(column, flex-start, flex-start);
}
h1 {
  color: var(--color-primary);
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}
p {
  color: var(--color-text);
}
a {
  color: var(--color-primary);
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-background-primary);
}
